{
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
    },
    "extends": [
      "airbnb",
      "eslint:recommended",
      "prettier",
      "prettier/react"
    ],
    "globals": {
        "graphql": true
    },
    "rules": {
      "prettier/prettier": "error",
      "react/jsx-filename-extension": [
        1, { "extensions": [".js"] }
      ]
    },
    "parser": "babel-eslint",
    "plugins": ["prettier"],
    "settings": {
        "import/core-modules": [
            "prop-types", "react", "react-router-dom"
        ]
    }
}
